* {padding:0; margin:0;}

:root {
    --font-family: Vazirmatn, Arial, Helvetica, sans-serif;
    --ambient-color: #9146ff;
    --ambient-color-rgb: 145, 70, 255;
    --ambient-color-hsl: 264, 100%;
    --transition-duration: 200ms;
    --column-count: 2;

    --badge-mod-color: rgb(0, 173, 3);
    --badge-vip-color: rgb(251, 15, 203);
    --badge-sub-color: rgb(149, 0, 209);
}

body {
    background-color: rgb(34, 32, 34);
    color: rgb(235, 235, 235);
    overflow: hidden;
}


.mod {color: var(--badge-mod-color);
    -webkit-text-stroke: 0.3px var(--badge-mod-color)} /* Moderator */
.mod > .badge {
    box-shadow: 0 0 15px var(--badge-mod-color);
}

.vip {color: var(--badge-vip-color);
    -webkit-text-stroke: 0.3px var(--badge-vip-color)}   /* VIP */
.vip > .badge {
    box-shadow: 0 0 15px var(--badge-vip-color);
}
    
.sub {color: var(--badge-sub-color);
    -webkit-text-stroke: 0.3px var(--badge-sub-color)}   /* Subscriber */
.sub > .badge {
    box-shadow: 0 0 15px var(--badge-sub-color);
}
    
.usr {color: rgb(207, 220, 231);
        font-weight: 400;
        -webkit-text-stroke: 0.4px black;}  /* User */

.badge {width:15px; height:15px;}
.display-name {font-weight: bold;}
.prefix {font-weight: bolder;}

.pride-flag {
    background: linear-gradient(90deg, red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0)
}

.emote {
    height: 25px;
    top: 3px;
    position: relative;
}

.message {
    padding-bottom: 5px;
    font-family: var(--font-family)
}

#tools > * {
    position: relative;
    display: inline-table;
    z-index: 2;
    font-size: 16px;
    padding: 5px;
    border-radius: 99px;
    border: 2px solid var(--ambient-color);
    background-color: hsla(var(--ambient-color-hsl), 50%, 0.7);
    color: hsl(var(--ambient-color-hsl), 80%);
    margin-right: 4px;
    outline: none;
}

#tools {
    opacity: 0;
    display: inline-flex;
    left: 0;
    transition-duration: var(--transition-duration);
    position: absolute;
    margin: 6px;
}
#tools:hover {
    opacity: 1;
}

#stream:hover ~ #tools {
    opacity: 1;
    transition-duration: var(--transition-duration);
}
#controls > * {
    position: relative;
    display: inline-table;
    z-index: 2;
    font-size: 16px;
    padding: 5px 10px;
    border: 0;
    background-color: transparent;
    text-shadow: 2px 2px 0 #00000056, 4px 4px 0 #00000056, 6px 6px 0 #00000056;
    color: var(--ambient-color);
    margin-right: 4px;
    outline: none;
    text-align: center;
}

#controls {
    opacity: 0;
    display: inline-flex;
    left: 0;
    bottom: 0;
    transition-duration: var(--transition-duration);
    position: absolute;
    margin: 12px 6px;
}
#controls:hover {
    opacity: 1;
}

#stream:hover ~ #controls {
    opacity: 1;
    transition-duration: var(--transition-duration);
}

#stream {
    background-color: black;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 100vh;
}

.video-container {
    z-index: 1;
    position: fixed;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 16/9;
    transition-duration: var(--transition-duration);
}

.video-container:hover {
    transition-duration: var(--transition-duration);
    background: linear-gradient(90deg, red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0)
}

.filler {
    visibility:hidden;
    width: 100%;
    aspect-ratio: 16/9;
}

#chat-container {
    clear: both;
    padding: 10px;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;  /* Firefox */
}

#chat-container::-webkit-scrollbar {display: none;}

/* pp=popup */
.chnl-pp-bg {
    z-index: 3;
    background: linear-gradient(to bottom, #050505, #2c2c2c);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
}
.chnl-pp-input {
    transition-duration: var(--transition-duration);
    display: inline-table;
    width: calc(279px - 45px);
    background-color: #1f1f1fc4;
    outline: none;
    border-radius: 99px 0 0 99px;
    border: 2px solid var(--ambient-color);
    border-right: 0;
    padding: 6px 16px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    float: left;
}
.chnl-pp-submit {
    transition-duration: var(--transition-duration);
    display: inline-table;
    width: 40px;
    height: 40px;
    outline: none; 
    border-radius: 0 99px 99px 0;
    background-color: #1f1f1fc4;
    border: 2px solid var(--ambient-color);
    padding: 5px;
    color: var(--ambient-color);
    font-size: 20px;
    margin: 0 auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url(img/left-arrow.svg);
    float: right;
}

.chnl-pp-submit:hover {
    scale: 1.1;
    cursor: pointer;
}

.chnl-pp-container {
    display: inline-flex;
    z-index: 4;
    top: 17%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.815);
    transition-timing-function:ease-out;
    transition-duration: var(--transition-duration);
    border-radius: 99px;
    margin: 0 10px;
}

.chnl-pp-container:hover {
    box-shadow: 0px 0px 30px rgba(56, 56, 56, 0.9);    
    transition-timing-function:ease-in;
    transition-duration: var(--transition-duration);
}

#popup > label {
    font-family: var(--font-family);
    font-size: 30px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(17% - 80px);
    text-shadow: 3px 3px 0px var(--ambient-color);
    transition-duration: var(--transition-duration);
}

#popup > label:hover {
    scale: 1.1;
    transition-duration: var(--transition-duration);
    text-shadow: 5px 5px 6px var(--ambient-color);
}

/* Explore */
#explore-grid {
    display: grid;
    height: calc(100vh - calc(30% - 5px));
    top: calc(30% - 20px);
    position: relative;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 20px 20px;
    margin: 10px;
    overflow-y:scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#explore-grid::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.ex-item {
    padding: 7px;
    font-family: var(--font-family);
    width: calc(100% - 16px);
    background-color: #0a0a0ab6;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);
    transition-duration: var(--transition-duration);
    justify-items: center;
    max-width: 100%;
    position: relative;
    border: 1px solid rgb(22, 22, 22);
    border-top: 1px solid rgb(26, 26, 26);
    border-left: 1px solid rgb(24, 24, 24);
}
.ex-item:link {color:white}
.ex-item:visited {color: white}
.ex-item:hover {
    box-shadow: 5px 5px 30px rgba(8, 8, 8, 0.9);
    transition-duration: var(--transition-duration);
    color: white;
}
.ex-item:active {color:white; scale: 1.2}


/* ExploreItem Elements */ 
.ex-item > .ex-thumb {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
    border: 1px solid #1d1d1d;
}

.ex-item > .ex-btm {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.ex-view {
    font-weight: bold;
    position: absolute;
    font-size: 0.8em;
    background-color: #000000aa;
    border-radius: 99px;
    padding: 0px 5px;
    margin: 4px;
}

.ex-eye {
    width: 15px;
    position: relative;
    top: 2px;
    aspect-ratio: 1/1;
    top: 3px;
}

.ex-pfp {
    float: left;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 99px;
    border: 2px solid var(--ambient-color);
    margin-right: 6px;
}

.ex-text {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    margin-left: 50px;
    width: calc(100% - 70px);
    line-height: 0.5;
    padding: 7px 0;
}

.ex-name {font-size: 1em;}

.ex-uptime {
    font-weight: bold;
    position: absolute;
    font-size: 0.8em;
    background-color: #000000aa;
    border-radius: 99px;
    padding: 0px 6px;
    margin: 4px 8px;
    right: 0;
}

.ex-gname {
    font-size: 0.9em;
    color: var(--ambient-color);
    padding-top: 10px;
}

.video-container:hover ~ #bio {
    top: calc(9 * calc(100vw / 16));
    transition-duration: var(--transition-duration);
    z-index: 1;
    opacity: 1;
}

#bio:hover {
    top: calc(9 * calc(100vw / 16));
    transition-duration: var(--transition-duration);
    z-index: 1;
    opacity: 1;
}
        
#bio {
    background-color: #1b1b1bf7;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 10px #191919;
    position: fixed;
    top: 80px;
    transition-duration: var(--transition-duration);
    opacity: 0;
    z-index: -1;
}

#bio-pfp {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 99px;
    border: 2px solid var(--ambient-color);
    margin-right: 8px;
}

#bio-name {
    font-family: var(--font-family);
    font-size: larger;

}

.bio-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bio-soical {
    width: 30px;
    aspect-ratio: 1/1;
}

#bio-soical-cont {
    display: inline-flex;
}

/* Responsive */
@media only screen and (max-width: 350px) {
    /* For Nokia 1100: */
    :root {
        --column-count: 1;
    }
    #popup > label {font-size: 1.4em;}
    .chnl-pp-container {top: 16%;}
}
@media only screen and (max-width: 328px) {
    :root {
        --column-count: 1;
    }
    #popup > label {font-size: 1.2em;}
    .chnl-pp-container {top: 15%;width: 100vw;}
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    :root {
        --column-count: 3;
    }
    #popup > label {font-size: 2.2em;}
    .chnl-pp-container {top: 18%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    :root {
        --column-count: 4;
    }
    #popup > label {font-size: 2.5em;}
    .chnl-pp-container {top: 19%;}
}
@media only screen and (min-width: 960px) {
    /* For desktopV2: */
    :root {
        --column-count: 5;
    }
    #popup > label {font-size: 2.5em;}
    .chnl-pp-container {top: 19%;}
}
@media only screen and (min-width: 1600px) {
    /* For wide screens: */
    :root {
        --column-count: 7;
    }
    #popup > label {font-size: 3.2em;}
    .chnl-pp-container {top: 20%;}
}
