* {padding:0; margin:0;}

:root {
    --font-family: Vazirmatn, Arial, Helvetica, sans-serif;
    --ambient-color: rgb(218, 62, 218);
    --transition-duration: 200ms;
    --column-count: 2;

    --badge-mod-color: rgb(0, 173, 3);
    --badge-vip-color: rgb(251, 15, 203);
    --badge-sub-color: rgb(149, 0, 209);
}

body {
    background-color: rgb(34, 32, 34);
    color: rgb(235, 235, 235);
}


.mod {color: var(--badge-mod-color);
    /* -webkit-text-stroke: 0.2px var(--badge-mod-color); */
    text-shadow: 0 0 8px var(--badge-mod-color)} /* Moderator */
.mod > .badge {
    box-shadow: 0 0 15px var(--badge-mod-color);
}

.vip {color: var(--badge-vip-color);
    /* -webkit-text-stroke: 0.2px var(--badge-vip-color); */
    text-shadow: 0 0 8px var(--badge-vip-color)}   /* VIP */
.vip > .badge {
    box-shadow: 0 0 15px var(--badge-vip-color);
}
    
.sub {color: var(--badge-sub-color);
    /* -webkit-text-stroke: 0.2px var(--badge-sub-color); */
    text-shadow: 0 0 8px var(--badge-sub-color)}   /* Subscriber */
.sub > .badge {
    box-shadow: 0 0 15px var(--badge-sub-color);
}
    
.usr {color: rgb(207, 220, 231)}  /* User */

.badge {width:15px; height:15px;}
.display-name {font-weight: bold;}
.prefix {font-weight: bolder;}

.pride-flag {
    background: linear-gradient(90deg, red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0)
}

.emote {
    height: 25px;
}

.message {
    padding-bottom: 5px;
    font-family: var(--font-family)
}

#tools > * {
    position: relative;
    display: inline-table;
    z-index: 2;
    font-size: 16px;
    padding: 5px;
    border-radius: 99px;
    border: 2px solid var(--ambient-color);
    background-color: #3f2b3fe1;
    color: var(--ambient-color);
    margin: 4px;
    outline: none;
}

#tools {
    opacity: 0;
    display: inline-flex;
    left: 0;
    transition-duration: var(--transition-duration);
    position: absolute;
}
#tools:hover {
    opacity: 1;
}

#stream:hover + #tools {
    opacity: 1;
    transition-duration: var(--transition-duration);
}

#stream {
    background-color: black;
    width: 100%;
    aspect-ratio: 16/9;
    max-height: 100vh;
}

.video-container {
    z-index: 1;
    position: fixed;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 16/9;
    transition-duration: var(--transition-duration);
}

.video-container:hover {
    transition-duration: var(--transition-duration);
    background: linear-gradient(90deg, red 16.66%, orange 0 33.33%, yellow 0 50%, green 0 66.66%, blue 0 83.33%, indigo 0)
}

.filler {
    visibility:hidden;
    width: 100%;
    aspect-ratio: 16/9;
}

#chat-container {
    clear: both;
    padding: 10px;
}

/* pp=popup */
.chnl-pp-bg {
    z-index: 3;
    background: linear-gradient(to bottom, #050505, #2c2c2c);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
}
.chnl-pp-input {
    transition-duration: var(--transition-duration);
    display: inline-table;
    width: calc(279px - 45px);
    background-color: #1f1f1fc4;
    outline: none;
    border-radius: 99px 0 0 99px;
    border: 2px solid var(--ambient-color);
    border-right: 0;
    padding: 6px 16px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    float: left;
}
.chnl-pp-submit {
    transition-duration: var(--transition-duration);
    display: inline-table;
    width: 40px;
    height: 40px;
    outline: none; 
    border-radius: 0 99px 99px 0;
    background-color: #1f1f1fc4;
    border: 2px solid var(--ambient-color);
    padding: 5px;
    color: var(--ambient-color);
    font-size: 20px;
    margin: 0 auto;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url(img/left-arrow.svg);
    float: right;
}

.chnl-pp-submit:hover {
    scale: 1.1;
    cursor: pointer;
}

.chnl-pp-container {
    display: inline-flex;
    z-index: 4;
    top: 17%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px rgba(54, 54, 54, 0.815);
    transition-timing-function:ease-out;
    transition-duration: var(--transition-duration);
    border-radius: 99px;
}

.chnl-pp-container:hover {
    box-shadow: 0px 0px 30px rgba(56, 56, 56, 0.9);    
    transition-timing-function:ease-in;
    transition-duration: var(--transition-duration);
}

#popup > label {
    font-family: var(--font-family);
    font-size: 30px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(17% - 80px);
    text-shadow: 3px 3px 0px var(--ambient-color);
    transition-duration: var(--transition-duration);
}

#popup > label:hover {
    scale: 1.1;
    transition-duration: var(--transition-duration);
    text-shadow: 5px 5px 6px var(--ambient-color);
}

/* Explore */
#explore-grid {
    display: grid;
    height: 100vh;
    top: calc(30% - 20px);
    position: relative;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 20px 20px;
    margin: 10px;
    overflow-y:scroll;
}
.ex-item {
    padding: 7px;
    font-family: var(--font-family);
    width: calc(100% - 9px);
    background-color: #0a0a0ab6;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(12, 12, 12, 0.9);
    transition-duration: var(--transition-duration);
    justify-items: center;
    max-width: 100%;
}
.ex-item:hover {
    box-shadow: 5px 5px 30px rgba(8, 8, 8, 0.9);
    transition-duration: var(--transition-duration);
}
.ex-item > .ex-pfp {
    float: left;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 99px;
    border: 2px solid var(--ambient-color);
    margin-right: 6px;
}
.ex-item > .ex-thumb {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}
.ex-item > .ex-name {
    font-size: 20px;
    float: left;
}
.ex-item > .ex-view {
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
    right: 0;
}
.ex-item .ex-eye {
    width: 17px;
    position: relative;
    top: 2px;
    aspect-ratio: 1/1;
}
